<!--div class="container">-->
  <div class="call-out-container">
    <div class="call-out"><br>
      <h4>OFTEN</h4><br>
      <p>MAIN</p><hr>
      <div>
        <ul>
          <li><a href="#"><img class="img" width="20px" src="http://hdblackwallpaper.com/wallpaper/2015/07/plain-black-background-wallpaper-2-desktop-background.png"> Home</a></li>
          <li><a href="#"><img class="img" width="20px" src="http://www.powerpointhintergrund.com/uploads/royal-blue-background-hd-photo-27.png"> Artists</a></li>
          <li><a href="#"><img class="img" width="20px" src="https://lh3.googleusercontent.com/ccPAXz7Y9lQJqF9MaGc_koCjkvKvjD3XH4s8u9e5QZKUjh5BmX6cM7GKGnq-3aVwRw=w300"> Songs</a></li>
          <li><a href="#"><img class="img" width="20px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPdt7Tr5pfDg0u5SQhikSJ-EPPoSsV00qTC_w0KSECyfGynZOA"> Packs</a></li>
          <li><a href="#"><img class="img" width="20px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUAqDE7LsSaFEn5AUv1gurSkTBW3RtZMXHWRqCFRQQE7NlN7cd"> Categories</a></li>
        </ul>
      </div>
      <br>
      <h6>RECENT ACTIVITY</h6><hr>
      <div class="name">
        <ul>
          <li><img class="pics" width="30px" src="https://www.obituarytoday.com/uploads/1470288111_KisoreKumar_ObituaryToday.jpg">  <b>Kishore Kumar</b></li>
          <p>kya kuub lagitho badi sundar dikitho</p>
          <p>4:30pm</p>
          <li><img class="pics" width="30px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrD94oPfHwutTM0_Ty2p2_Pc_J6T3UZHM3pMcYmjJHAM7GC51Q">  <b>Nithi Mohan</b></li>
          <p>Ishq Wala Love</p><p>5:30pm</p>
        </ul>
      </div>
    </div>
    <div class="call-out">
      <app-header></app-header>
      <p>Featured Artists</p>
      <div class="flex-container">
        <div class="flex-container__singers"><img width=90px src="https://www.obituarytoday.com/uploads/1470288111_KisoreKumar_ObituaryToday.jpg">
          <p>Kishore Kumar</p>
        </div>
        <div class="flex-container__singers"><img width=120px src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC-YXkl_CP3MBlJjpEZ_2QJsaZs5o1Fq6zgCDGcNp9C0Lu_-heZQ">
          <p>Mohammad Rafi</p>
        </div>
        <div class="flex-container__singers"><img width=125px src="https://harsh345.files.wordpress.com/2016/07/mukesh_1426079143.jpg?w=820">
          <p>Mukesh</p>
        </div>
        <div class="flex-container__singers"><img width=125px src="http://www.culturalindia.net/iliimages/Lata-Mangeshkar-ili-113-img-1.jpg">
          <p>Latha Mangeshkar</p>
        </div>
        <div class="flex-container__singers">
          <img width="91px" src="https://i2.cinestaan.com/image-bank/1500-1500/63001-64000/63217.jpg">
          <p>Asha Bhosle</p>
        </div>
        <div class="flex-container__singers">
          <img width="85px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Adnan_Sami_2007_-_still_17966_crop.jpg/220px-Adnan_Sami_2007_-_still_17966_crop.jpg">
          <p>Adnan Sami</p>
        </div>
        </div>
        <hr>
        <p>Top Artists</p>
        <div class="flex-container">
          <div class="flex-container__singers">
            <img width="90px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkokUVHSGIBpFB5GAZU_AfyI4_1bgfxxFHhPezCofCfD5kHa_u6Q">
            <p>Shreya Ghoshal</p>
          </div>
          <div class="flex-container__singers">
            <img width="90px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3mwXLe0X1tkXys4Vlu2Reyroqc43Vk_BlBozh8qq_Gnmvdgbefw">
            <p>Arijith Sing</p>
          </div>
          <div class="flex-container__singers">
            <img width="90px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqvbSNXEg0Q-68wtP-1PqpU6qm3Ekos12ijfiAPkVy4lWYCM-Uww">
            <p>Athif Aslam</p>
          </div>
          <div class="flex-container__singers">
            <img width="125px" src="https://i1.wp.com/ohcelebrity.com/wp-content/uploads/2017/07/himesh-300x300.jpg?resize=300%2C300">
            <p>Himesh</p>
          </div>
          <div class="flex-container__singers">
            <img width="120px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrD94oPfHwutTM0_Ty2p2_Pc_J6T3UZHM3pMcYmjJHAM7GC51Q">
            <p>Nithi Mohan</p>
          </div>
          <div class="flex-container__singers">
            <img width="85px" src="http://4.bp.blogspot.com/-v8bKfXrDFBU/UswpquhdAnI/AAAAAAAADy4/6PqtfJJ5UDU/s1600/honey%20singh%20(www.allkaraokehere.blogspot.com).jpg">
            <p>Yo Yo honey Singh</p>
          </div>
        </div>
        <hr>
    </div>
  </div>
<!--/div>-->