$pa:10px;
$pad:60px;
$mar:20px;
$bac:#fff;
$cal1:0px 0px 4px 0px rgb(12,5,5);
$cal2:0px 0px 4px 0px rgb(14,7,7);
$cal3:0px 0px 4px 0px rgb(19,4,4);
$pad:20px;
$flex:flex;
$box:1;
$box2:3;
$pad2:5px;
$pad3:8px;
$none:none;
$hidden:hidden;
$space:space-between;
$block:block;
$center:center;
$hight:120vh;
$one:1px;
$nine:900px;
$hun:100px;